html,body{margin:0;padding:0;height:100%;width:100%;background-image:url("./media/numeros-ORXLCCEG.webp");background-size:cover;background-position:center;background-repeat:no-repeat;display:flex;justify-content:center}
