.cont{                
    width: 100vw;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

} 

form {
    margin-top:10px;
    background-color: rgb(178, 213, 247);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px; 

}

.formulario {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
} 


button {
    color:black;                   
    padding: 12px 20px;             
    border: none;                   
    border-radius: 8px;             
    font-size: 16px;                
    font-weight: 600;               
    cursor: pointer;                
    transition: 0.3s ease;          
    width: 100%;                   
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 10px 12px;          
    border: 2px solid #ccc;     
    border-radius: 6px;           
    font-size: 16px;            
    outline: none;                
    transition: 0.3s;             
}


.feedback {
    color: red;
}

.bienvenida {
    background-color: rgba(255, 255, 255, 0.9);
    color: #1e90ff;
    font-size: 24px;
    font-weight: 700; 
    text-align: center;
    padding: 15px 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 20px; 
}

.enviar {
    background-color: #1e90ff;
}