<div class="cont">
  <form>
    <div class="formulario">
      <input type="text"
        placeholder="Nombre y Apellido"
        [formControl]="name">
      <div class="feedback" *ngIf="name.invalid && name.touched">
        El nombre no puede estar vacío
      </div>
    </div>

    <div class="formulario">
      <input type="number"
        placeholder="Intentos"
        [formControl]="intento">
        <div class="feedback" *ngIf="intento.invalid && intento.touched">
        El campo no puede estar vacío
      </div>
    </div>

    <div class="formulario">
      <input type="number"
        placeholder="Número aleatorio (mínimo 4)"
        [formControl]="numero">
      <div class="feedback" *ngIf="numero.invalid && numero.touched">
        El número introducido es menor que el rango mínimo
      </div>
    </div>

    <button type="button"
      (click)="recogerDatos()"
      [disabled]="botonDisabled">
      Aceptar
    </button>
  </form>
  
  <div *ngIf="juego" class="bienvenida">
    Ongi Etorri {{ configuracion.name }}
    <p>Rango: 0 a {{ configuracion.numero - 1 }}</p>
    <p>Intentos disponibles: {{ configuracion.intentos }}</p>
    <div>
      <input type="number"
       placeholder="Introduce un número"
       [(ngModel)]="numeroUsuario"
       [disabled]="botonBloqueado">
      <button type="button" class="enviar"
        (click)="comprobarNumero()"
        [disabled]="botonBloqueado">
        Enviar
      </button>
        <div class="mensaje">{{ mensaje }}</div>
    </div>
  </div>
</div>
